:root {
    --blue: #56a5eb;
}

body {
    margin: 0;
    padding: 0;
    color: var(--blue);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 54px;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-board {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 150px;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--blue);
    color: #fff;
    border-color: var(--blue);
    font-size: 18px;
    transition: 200ms transform;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}